In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
iris_data = df[df.columns[:4]]

In [6]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [7]:
iris_name = df[df.columns[4:]]

In [8]:
iris_name.head()

  species
0  setosa
1  setosa
2  setosa
3  setosa
4  setosa

In [9]:
from sklearn import svm, metrics

In [10]:
from sklearn.model_selection  import train_test_split

## 훈련과 테스트 용 데이터 분리

In [11]:
train_data, test_data, train_label, test_label = train_test_split(iris_data, iris_name)

In [16]:
train_data.shape, test_data.shape

((112, 4), (38, 4))

In [17]:
train_label.shape, test_label.shape

((112, 1), (38, 1))

In [12]:
train_data.head()

    sepal_length  sepal_width  petal_length  petal_width
39           5.1          3.4           1.5          0.2
64           5.6          2.9           3.6          1.3
9            4.9          3.1           1.5          0.1
66           5.6          3.0           4.5          1.5
41           4.5          2.3           1.3          0.3

In [14]:
train_label.head()

       species
39      setosa
64  versicolor
9       setosa
66  versicolor
41      setosa

In [13]:
test_data.head()

     sepal_length  sepal_width  petal_length  petal_width
5             5.4          3.9           1.7          0.4
109           7.2          3.6           6.1          2.5
0             5.1          3.5           1.4          0.2
48            5.3          3.7           1.5          0.2
23            5.1          3.3           1.7          0.5

In [15]:
test_label.head()

       species
5       setosa
109  virginica
0       setosa
48      setosa
23      setosa

## 훈련 시키기

###  gamma에 대한 경고 해결  auto, scale 을 문자로 입력

In [24]:
clf = svm.SVC(gamma='auto')

In [29]:
train_label.shape

(112, 1)

In [30]:
train_label.values.reshape(112)

array(['setosa', 'versicolor', 'setosa', 'versicolor', 'setosa', 'setosa',
       'virginica', 'virginica', 'virginica', 'versicolor', 'versicolor',
       'virginica', 'virginica', 'setosa', 'setosa', 'virginica',
       'virginica', 'virginica', 'setosa', 'versicolor', 'setosa',
       'virginica', 'virginica', 'versicolor', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'versicolor', 'virginica', 'setosa', 'setosa',
       'versicolor', 'setosa', 'setosa', 'virginica', 'virginica',
       'setosa', 'virginica', 'setosa', 'versicolor', 'setosa', 'setosa',
       'setosa', 'virginica', 'setosa', 'setosa', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'versicolor', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'virginica', 'virginica',
       'versicolor', 'virginica', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'virginica',
       'setosa', 'setosa', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'setosa', 'setosa', 'versicolor',
       'setosa', 'virginica', 'setosa', 'virginica', 'setosa',
       'virginica', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'versicolor'], dtype=object)

### 1 차원 데이터 경고 해결 : 차원을 축소해서 전달

## 예측하기

In [33]:
pre = clf.predict(test_data)

## 정확도 확인하기

In [34]:
ac_score = metrics.accuracy_score(test_label, pre)

In [35]:
ac_score

1.0